.slider__toggles {
  display: inline-block;
}
.slider__toggle {
  border: none;
  display: inline-block;
  font-size: 0;
  width: 6px;
  height: 6px;
  background-color: #bec2c7;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}
.slider__toggle--active {
  background-color: transparent;
  border: 3px solid #283645;
}
.advantages {
  padding-top: 38px;
  background: linear-gradient(175deg, #ffffff 24%, #ffffff 12%, #f2f2f2 12%);
  overflow: hidden;
}
.advantages__head {
  margin: 0;
  padding: 0;
}
.advantages__caption {
  font-size: 24px;
  color: #283645;
  font-weight: 300;
  display: block;
  text-align: center;
}
.advantages__caption--first {
  padding-bottom: 26px;
}
.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #283645;
  padding-top: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 320px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantages__item {
  text-align: center;
  margin-bottom: 30px;
  width: 280px;
}
.advantages__title {
  font-size: 18px;
  line-height: 24px;
}
.advantages__text {
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  padding-top: 5px;
}
@media (max-width: 659px) {
  .advantages__item--item-three {
    padding-bottom: 295px;
    position: relative;
  }
  .advantages__item--item-three::before {
    content: "";
    position: absolute;
    width: 157px;
    height: 320px;
    background: url("../img/iphone-screen-mobile@1x.png") center no-repeat;
    bottom: -70px;
    right: 60px;
  }
  .advantages__head {
    width: 220px;
    margin: 0 auto;
  }
}
@media (max-width: 659px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 659px) and (min-resolution: 144dpi), (max-width: 659px) and (min-resolution: 1.5dppx) {
  .advantages__item--item-three::before {
    background: url("../img/iphone-screen-mobile@2x.png") center no-repeat;
    background-size: 157px auto;
  }
}
@media (min-width: 660px) {
  .advantages {
    background: linear-gradient(175deg, #ffffff 38%, #ffffff 20%, #f2f2f2 20%);
  }
  .advantages__list {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
    padding-top: 121px;
    padding-left: 310px;
    width: 310px;
    margin-left: auto;
    margin-right: 25px;
    padding-bottom: 15px;
  }
  .advantages__list::before {
    content: "";
    position: absolute;
    width: 268px;
    height: 481px;
    background: url("../img/iphone-screen-3-tablet@1x.png") center no-repeat;
    left: 0;
    bottom: 0;
  }
  .advantages__item {
    text-align: left;
    width: auto;
  }
  .advantages__text {
    padding-top: 8px;
  }
  .advantages__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .advantages__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10px;
    margin-right: -20px;
  }
  .advantages__caption {
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    margin-right: 20px;
  }
  .advantages__caption--first {
    width: 620px;
    padding: 0;
  }
  .advantages__caption--second {
    width: 340px;
    -ms-flex-item-align: center;
        align-self: center;
    padding: 0;
  }
}
@media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 660px) and (min-resolution: 144dpi) {
  .advantages__list::before {
    background-image: url("../img/iphone-screen-3-tablet@2x.png");
    background-size: 268px auto;
  }
}
@media (min-width: 940px) {
  .advantages {
    background: linear-gradient(175deg, #ffffff 42.5%, #ffffff 20%, #f2f2f2 20%);
  }
  .advantages__wrapper {
    display: block;
  }
  .advantages__head {
    margin-top: 20px;
  }
  .advantages__caption {
    font-size: 50px;
    line-height: 58px;
    width: auto;
  }
  .advantages__caption--second {
    width: 420px;
  }
  .advantages__list {
    margin: 0;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 80px;
  }
  .advantages__list::before {
    background: none;
  }
  .advantages__item {
    width: 240px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 360px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .advantages__item--item-one {
    margin-right: auto;
    margin-left: 40px;
  }
  .advantages__item--item-one::before {
    background: url("../img/iphone-screen-1-desktop@1x.png") center no-repeat;
  }
  .advantages__item--item-two::before {
    background: url("../img/iphone-screen-2-desktop@1x.png") center no-repeat;
  }
  .advantages__item--item-three {
    margin-left: auto;
    margin-right: 40px;
  }
  .advantages__item--item-three::before {
    background: url("../img/iphone-screen-3-desktop@1x.png") center no-repeat;
  }
  .advantages__item--item-one::before,
  .advantages__item--item-three::before,
  .advantages__item--item-two::before {
    content: "";
    position: absolute;
    width: 292px;
    height: 302px;
    top: 0;
  }
  .advantages__title {
    display: block;
    width: 230px;
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 15px;
  }
  .advantages__text {
    font-size: 18px;
    line-height: 30px;
  }
}
@media (min-width: 940px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 940px) and (min-resolution: 144dpi), (min-width: 940px) and (min-resolution: 1.5dppx) {
  .advantages__item--item-one::before {
    background-image: url("../img/iphone-screen-1-desktop@2x.png");
    background-size: 292px auto;
  }
}
@media (min-width: 940px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 940px) and (min-resolution: 144dpi), (min-width: 940px) and (min-resolution: 1.5dppx) {
  .advantages__item--item-two::before {
    background-image: url("../img/iphone-screen-2-desktop@2x.png");
    background-size: 292px auto;
  }
}
@media (min-width: 940px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 940px) and (min-resolution: 144dpi), (min-width: 940px) and (min-resolution: 1.5dppx) {
  .advantages__item--item-three::before {
    background-image: url("../img/iphone-screen-3-desktop@2x.png");
    background-size: 292px auto;
  }
}
.button {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  font-style: "Open Sans", "Arial", sans-serif;
}
.button--download {
  width: 275px;
  border: 3px solid #fff;
  border-radius: 30px;
  text-align: center;
  padding: 16px 0;
  display: block;
  margin-top: -22px;
  margin-bottom: 5px;
}
@media (min-width: 660px) {
  .button--download {
    width: 294px;
    margin-top: 30px;
    margin-bottom: 0;
  }
}
@media (min-width: 940px) {
  .button--download {
    font-size: 21px;
  }
}
.contacts__wrapper {
  text-align: center;
  padding-bottom: 10px;
}
.contacts__title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
  padding-top: 40px;
}
.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts__item {
  width: 280px;
  margin: 0 auto;
}
.contacts__item--phone {
  margin-top: 27px;
}
.contacts__item--email {
  margin-top: 15px;
}
.contacts__item--adress {
  margin-top: 17px;
}
.contacts__name {
  font-size: 18px;
}
.contacts__text {
  padding: 0;
  margin: 0;
  font-size: 24px;
  color: #d22856;
  font-weight: 300;
}
.contacts__map-wrapper {
  height: 200px;
  background-image: url('../img/bg-map-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;
  background-size: cover;
}
.contacts__map-wrapper::before {
  content: '';
  position: absolute;
  height: 60px;
  width: 100%;
  background-image: url('../img/bg-triangle-white-footer.svg');
  background-repeat: no-repeat;
  background-position: center top;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.contacts__map {
  height: 200px;
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}
@media (min-width: 660px) {
  .contacts__title {
    font-size: 40px;
    line-height: 48px;
    padding-top: 44px;
  }
  .contacts__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contacts__item {
    margin-top: 40px;
  }
  .contacts__item--phone {
    margin-left: 8px;
  }
  .contacts__item--email {
    margin-right: 8px;
  }
  .contacts__item--adress {
    margin-top: 42px;
  }
  .contacts__map-wrapper {
    height: 390px;
    background-image: url('../img/bg-map-tablet@1x.jpg');
  }
  .contacts__map-wrapper::before {
    height: 68px;
    background-size: 100% 68px;
  }
  .contacts__map {
    height: 390px;
  }
}
@media (min-width: 940px) {
  .contacts__title {
    font-size: 50px;
    line-height: 58px;
    padding-top: 66px;
  }
  .contacts__item {
    margin-top: 55px;
  }
  .contacts__item--phone {
    margin-left: 20px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .contacts__item--email {
    margin-right: 20px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .contacts__item--adress {
    margin-left: 18px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .contacts__item .contacts__text {
    padding-top: 16px;
  }
  .contacts__map-wrapper {
    height: 510px;
    background-image: url('../img/bg-map-desktop@1x.jpg');
  }
  .contacts__map-wrapper::before {
    height: 125px;
    background-size: 100% 125px;
  }
  .contacts__map {
    height: 510px;
  }
}
.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.copyright__text {
  font-size: 14px;
  line-height: 18px;
  margin-right: 8px;
}
@media (min-width: 940px) {
  .copyright__text {
    font-size: 18px;
  }
}
.copyright__link {
  width: 40px;
  height: 34px;
}
.downloads {
  background-color: #1d2631;
}
.downloads__inner {
  background-color: #1d2631;
  position: relative;
  margin: 0 auto;
  padding-top: 20px;
}
.downloads--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.downloads__title {
  margin: 0;
  padding: 0;
  font-size: 0;
}
.downloads__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.downloads__text {
  line-height: 24px;
  font-weight: 300;
  color: #c3c5c8;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 30px;
}
@media (min-width: 660px) {
  .downloads__title {
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    width: 210px;
    text-align: center;
    color: #fff;
  }
  .downloads__inner {
    padding: 0;
  }
  .downloads--wrapper {
    min-height: 410px;
    position: absolute;
    bottom: 113px;
    left: 5px;
    width: 50%;
    background-color: transparent;
  }
  .downloads__text {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    padding-bottom: 0;
  }
}
@media (min-width: 940px) {
  .downloads__title {
    font-size: 50px;
    line-height: 58px;
    width: 240px;
    padding-bottom: 5px;
  }
  .downloads--wrapper {
    min-height: 510px;
    width: 300px;
    left: 20px;
    bottom: 122px;
  }
}
.main-nav__logo {
  display: inline-block;
}
.main-nav__logo--wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 21px;
  padding-left: 20px;
  padding-bottom: 15px;
}
.main-nav {
  width: 100%;
  position: relative;
}
@media (max-width: 939px) {
  .main-nav--closed {
    position: absolute;
    z-index: 10;
  }
  .main-nav--opened,
  .main-nav--nojs {
    position: relative;
    display: block;
  }
  .main-nav--closed .main-nav__logo--wrapper {
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .main-nav--opened .main-nav__logo--wrapper,
  .main-nav--nojs .main-nav__logo--wrapper {
    position: relative;
    display: block;
    background-color: #283645;
    border-bottom: 1px solid #000;
  }
  .main-nav--closed .main-nav__toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .main-nav--closed .main-nav__toggle::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    width: 50px;
    height: 4px;
    background-color: white;
    -webkit-box-shadow: 0 3px 0 -1px rgba(255, 255, 255, 0.3), 0 11px 0 0 white, 0 19px 0 -1px rgba(255, 255, 255, 0.3), 0 22px 0 0 white;
            box-shadow: 0 3px 0 -1px rgba(255, 255, 255, 0.3), 0 11px 0 0 white, 0 19px 0 -1px rgba(255, 255, 255, 0.3), 0 22px 0 0 white;
  }
  .main-nav--opened .main-nav__toggle {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 24px;
    height: 23px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .main-nav--opened .main-nav__toggle::before,
  .main-nav--opened .main-nav__toggle::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    background-color: white;
    width: 30px;
    height: 4px;
    border-radius: 5px;
  }
  .main-nav--opened .main-nav__toggle::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .main-nav--opened .main-nav__toggle::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
@media (min-width: 660px) {
  .main-nav__logo--wrapper {
    padding-top: 25px;
    padding-bottom: 35px;
    padding-left: 20px;
  }
  .main-nav--closed .main-nav__toggle {
    top: 40px;
  }
  .main-nav--opened .main-nav__toggle {
    top: 50px;
  }
}
@media (min-width: 940px) {
  .main-nav__toggle {
    display: none;
  }
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-nav__logo--wrapper {
    padding-left: 0px;
  }
}
/*Лого*/
.page-header__logo {
  display: block;
}
.page-header__logo--glasses {
  display: none;
}
.page-header__logo--stars {
  display: none;
}
@media (min-width: 660px) {
  .page-header__logo {
    display: none;
  }
  .page-header__logo--glasses {
    display: block;
  }
}
@media (min-width: 940px) {
  .page-header__logo {
    display: none;
  }
  .page-header__logo--stars {
    display: block;
  }
}
.package {
  padding-bottom: 20px;
  overflow: hidden;
}
.package__table {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-collapse: collapse;
}
.package__caption {
  color: #fff;
  text-transform: uppercase;
  background-color: #283645;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 2px solid #f2f2f2;
  padding: 16px;
}
.package__caption--empty {
  background-color: transparent;
  border-left: none;
}
.package__name {
  font-weight: bold;
  display: block;
  font-size: 18px;
}
.package__name--new {
  position: relative;
}
.package__name--new::before {
  content: "";
  position: absolute;
  width: 73px;
  height: 73px;
  top: -16px;
  left: -16px;
  background: url("../img/bg-hit.svg");
}
.package__price {
  font-size: 24px;
  font-weight: 300;
}
.package__column {
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #e5e5e5;
  padding: 14.5px;
}
.package__status {
  font-size: 0;
  display: block;
  position: relative;
}
.package__status--enabled::before {
  content: "";
  position: absolute;
  width: 31px;
  height: 21px;
  background: url('../img/icon-yes.svg') center no-repeat;
  top: 8px;
  left: 50%;
  margin-left: -15.5px;
}
.package__status--disabled::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  background: url('../img/icon-no.svg') center no-repeat;
  top: 3px;
  left: 50%;
  margin-left: -13.5px;
}
@media (max-width: 659px) {
  .package__wrapper {
    min-height: 286px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .package__table {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .package__column {
    width: 81vw;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .package__column--1 {
    display: none;
  }
  .package__caption--empty {
    display: none;
  }
  .package__status {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 8px;
  }
  .package__status--enabled::before,
  .package__status--disabled::before {
    left: 94%;
  }
  .packages__toggles {
    display: block;
    text-align: center;
    padding-top: 20px;
    margin-left: 15px;
  }
  #slide-1:checked ~ .packages__toggles .package__toggle--1,
  #slide-2:checked ~ .packages__toggles .package__toggle--2,
  #slide-3:checked ~ .packages__toggles .package__toggle--3 {
    background-color: transparent;
    border: 3px solid #283645;
  }
  #slide-1:checked ~ .package__wrapper {
    -webkit-transform: translateX(90%);
            transform: translateX(90%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  #slide-2:checked ~ .package__wrapper {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  #slide-3:checked ~ .package__wrapper {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
@media (min-width: 660px) {
  .package {
    padding-bottom: 70px;
  }
  .package__caption {
    width: 155px;
    padding-bottom: 8px;
    padding-top: 12px;
    overflow: hidden;
  }
  .package__table {
    margin: 0;
  }
  .package__name {
    font-size: 16px;
  }
  .package__name--new::before {
    left: -22px;
    top: -22px;
  }
  .package__price {
    font-size: 18px;
    font-weight: 300;
  }
  .package__column {
    width: 152px;
    padding: 7px 0;
    padding-left: 13px;
  }
  .package__column:not(.package__column--1) {
    text-align: center;
    vertical-align: middle;
  }
  .packages__toggles {
    display: none;
  }
}
@media (min-width: 940px) {
  .package {
    padding-bottom: 95px;
  }
  .package__table {
    margin-left: 8px;
  }
  .package__caption {
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .package__name {
    font-size: 18px;
  }
  .package__name--new::before {
    left: -16px;
    top: -16px;
  }
  .package__price {
    font-size: 24px;
    font-weight: 300;
  }
  .package__column {
    width: 235px;
    padding: 14.5px 0;
  }
  .package__column--1 {
    font-size: 18px;
    padding-left: 23px;
  }
}
@media (max-width: 659px) {
  .page-footer {
    display: none;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 660px) {
  .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .page-footer__logo {
    width: 150px;
    height: 40px;
  }
  .page-footer__socials {
    margin-right: 17px;
  }
  .page-footer__desktop {
    display: none;
  }
  .page-footer__copyright {
    margin-right: -5px;
  }
}
@media (min-width: 940px) {
  .page-footer {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .page-footer__logo {
    margin-left: 10px;
  }
  .page-footer__socials {
    margin-top: 10px;
    margin-right: 5px;
  }
  .page-footer__copyright {
    margin: 0;
  }
  .page-footer__desktop {
    display: block;
  }
  .page-footer__tablet {
    display: none;
  }
}
.page-header {
  width: 100%;
}
.page-header__wrapper {
  width: 100%;
  padding: 0;
  background-color: transparent;
}
.page-header__background-pic {
  height: 462px;
  background: url("../img/bg-back-mobile@1x.jpg") center no-repeat;
  width: 100%;
  position: relative;
  overflow: hidden;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header__background-pic {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-size: 700px auto;
  }
}
.page-header__background-pic::before {
  content: "";
  position: absolute;
  width: 258px;
  height: 286px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0;
  left: 50%;
  margin-left: -160px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header__background-pic::before {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 258px auto;
  }
}
@media (min-width: 660px) {
  .page-header__background-pic {
    height: 729px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;
    background-position: center top;
  }
  .page-header__background-pic::before {
    width: 700px;
    height: 545px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    left: 50%;
    margin-left: -349px;
  }
}
@media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
  .page-header__background-pic {
    background-image: url("../img/bg-back-tablet@2x.jpg");
    background-size: 1200px auto;
  }
}
@media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
  .page-header__background-pic::before {
    background-image: url("../img/iphone-hand-tablet@2x.png");
    background-size: 700px auto;
  }
}
@media (min-width: 940px) {
  .page-header__inner {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 99;
    width: 100%;
  }
  .page-header__wrapper {
    width: 940px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .page-header__background-pic {
    height: 853px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
  .page-header__background-pic::before {
    width: 1050px;
    height: 645px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    left: 50%;
    margin-left: -449px;
  }
}
@media (min-width: 940px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 940px) and (min-resolution: 144dpi), (min-width: 940px) and (min-resolution: 1.5dppx) {
  .page-header__background-pic {
    background-image: url("../img/bg-back-desktop@2x.jpg");
    background-size: 2560px auto;
    background-position-y: 12px;
  }
}
@media (min-width: 940px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 940px) and (min-resolution: 144dpi), (min-width: 940px) and (min-resolution: 1.5dppx) {
  .page-header__background-pic::before {
    background-image: url("../img/iphone-hand-desktop@2x.png");
    background-size: 1050px auto;
  }
}
.reviews {
  text-align: center;
  padding-top: 40px;
  width: 280px;
  margin: 0 auto;
  padding-bottom: 82px;
}
.reviews__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.reviews__author {
  font-size: 18px;
}
.reviews__prof {
  display: none;
}
.review__text {
  color: #283645;
  margin: 0;
  padding-top: 10px;
}
.review__toggles {
  padding-top: 19px;
  margin-left: 15px;
}
.review__arrow {
  display: none;
}
.reviews__layout {
  background: linear-gradient(176deg, #ffffff 40%, #ffffff 20%, #f2f2f2 20%);
}
@media (min-width: 660px) {
  .reviews {
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .reviews__author {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: 20px;
    padding-top: 35px;
  }
  .review__text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 18px;
  }
  .reviews__prof {
    display: block;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .reviews__layout {
    background: linear-gradient(176deg, #ffffff 46%, #ffffff 20%, #f2f2f2 20%);
  }
}
@media (min-width: 940px) {
  .reviews {
    width: 940px;
    position: relative;
    padding-bottom: 118px;
  }
  .reviews__wrapper {
    padding-top: 154px;
    width: 695px;
    margin: 0 auto;
  }
  .reviews__author {
    font-size: 24px;
    padding-top: 37px;
  }
  .reviews__prof {
    font-size: 18px;
    padding-top: 2px;
  }
  .review__toggles label {
    display: none;
  }
  .review__arrow {
    display: inline-block;
    font-size: 0;
    width: 27px;
    height: 27px;
    border-top: 2px solid #bec2c7;
    border-left: 2px solid #bec2c7;
    background-color: transparent;
    position: absolute;
    top: 219px;
  }
  .review__arrow--left {
    left: 25px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .review__arrow--right {
    right: 25px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .reviews__layout {
    background: linear-gradient(176deg, #ffffff 49%, #ffffff 20%, #f2f2f2 20%);
  }
}
.socials {
  width: 177px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.social {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 3px solid #e9ebec;
}
.social--tw {
  background-image: url('../img/icon-twitter.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.social--fb {
  background-image: url('../img/icon-facebook.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.social--yt {
  background-image: url('../img/icon-youtube.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  overflow: hidden;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 30px;
  background-color: #ffffff;
  min-width: 320px;
  margin: 0;
  padding: 0;
  color: #283645;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
@media (min-width: 660px) {
  .container {
    width: 620px;
  }
}
@media (min-width: 940px) {
  .container {
    width: 100%;
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.site-list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  z-index: 100;
}
@media (max-width: 939px) {
  .main-nav--opened .site-list,
  .main-nav--nojs .site-list {
    display: block;
  }
  .main-nav--opened .site-list__item,
  .main-nav--nojs .site-list__item {
    width: 100%;
    background-color: #283645;
    border-bottom: 1px solid #000;
    border-top: 1px solid #485461;
    text-align: center;
    padding: 15px 0;
  }
  .site-list__link {
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
  }
}
@media (max-width: 659px) {
  .main-nav--opened .site-list {
    margin-bottom: -66px;
  }
}
@media (min-width: 660px) {
  .main-nav--opened .site-list {
    margin-bottom: -111px;
  }
}
@media (min-width: 940px) {
  .site-list {
    width: 620px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .site-list .site-list__link {
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    color: #fff;
  }
}
.platform__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 205px;
}
@media (max-width: 659px) {
  .platform__list {
    padding-top: 26px;
  }
}
@media (min-width: 660px) {
  .platform__list {
    padding-top: 45px;
    padding-bottom: 10px;
  }
}
.research {
  display: none;
}
@media (min-width: 660px) {
  .research {
    display: block;
    padding-bottom: 43px;
  }
  .research__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 620px;
    margin: 0 auto;
  }
  .research__timer {
    margin-left: 0;
    padding-top: 48px;
    width: 238px;
  }
  .research__timer svg {
    width: 238px;
    height: 276px;
  }
  .research__wrapper {
    width: 310px;
    margin-left: auto;
    margin-right: 0;
    text-align: left;
    padding-top: 95px;
  }
  .research__effect {
    font-size: 30px;
    line-height: 36px;
    display: block;
    width: 168px;
  }
  .research__text {
    padding: 0;
    margin: 0;
    line-height: 24px;
    padding-top: 10px;
  }
  .research__link {
    font-size: 14px;
    line-height: 18px;
    color: #d22856;
    margin-top: 15px;
    text-decoration: none;
    -webkit-box-shadow: inset 0 -1px 0 #d22856;
            box-shadow: inset 0 -1px 0 #d22856;
    display: inline-block;
  }
  .research__timer text {
    fill: #d22856;
    font-family: "Open Sans", sans-serif;
    font-size: 120px;
    font-weight: bold;
  }
}
@media (min-width: 940px) {
  .research {
    padding-top: 32px;
    background-color: #f2f2f2;
    padding-bottom: 60px;
  }
  .research__inner {
    width: auto;
    margin: auto;
  }
  .research__timer {
    width: 299px;
    padding-top: 0px;
    margin: 0;
    margin-left: 10px;
  }
  .research__timer svg {
    width: 300px;
    height: 345px;
  }
  .research__wrapper {
    width: 574px;
    margin-right: 10px;
  }
  .research__effect {
    width: auto;
    line-height: 30px;
  }
  .research__text {
    font-size: 18px;
    line-height: 30px;
    padding-top: 25px;
  }
  .research__link {
    font-size: 18px;
    line-height: 22px;
    margin-top: 35px;
  }
}
