.button {
  font-size:18px;
  line-height:18px;
  color:#ffffff;
  font-weight: bold;
  text-decoration: none;
  font-style: "Open Sans", "Arial", sans-serif;
}
.button--download {
  width: 275px;
  border:3px solid #fff;
  border-radius: 30px;
  text-align: center;
  padding:16px 0;
  display:block;
  margin-top:-22px;
  margin-bottom:20px;
}
.button__submit {
  width:280px;
  background-color: #2aab6d;
  font-size:18px;
  text-transform: uppercase;
  font-weight: bold;
  color:#fff;
  border:none;
  text-align: center;
  border-radius: 3px;
}
@media (min-width:@tablet) {
  .button--download {
    width:294px;
    margin-top: 30px;
    margin-bottom:0;
  }
  .button__submit {
    width:300px;
  }
}
@media (min-width:@desktop) {
  .button--download {
    font-size:21px;

  }
}
