.downloads {
  margin:0;
  background-color: #1d2631;
  position: relative;
}
.downloads__background-pic {
  height:462px;
  background-image:url("../img/bg-back-mobile@1x.jpg");
  background-repeat:no-repeat;
  background-position: 50% top;
  width:100%;
  position: relative;
  overflow: hidden;
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-size:700px auto;
  }
  &::before {
    content: "";
    position: absolute;
    width:258px;
    height:286px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    bottom:0;
    left:50%;
    margin-left: -160px;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
      background-size:258px auto;
    }
  }
}
.downloads__inner {
  background-color: #1d2631;
  position: relative;
  margin:0 auto;
  padding-top: 20px;
}
.downloads--wrapper {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
.downloads__title {
  margin:0;
  padding:0;
  font-size:0;
}
.downloads__list {
margin:0;
padding:0;
list-style: none;
}
.downloads__text {
line-height: 24px;
font-weight: 300;
color:#c3c5c8;
text-align: center;
padding:0;
margin:0;
padding-top:13px;
padding-bottom:30px;
}
@media (min-width: @tablet) {
  .downloads__title {
    font-size:40px;
    line-height: 48px;
    font-weight: 300;
    width:210px;
    text-align: center;
    color:#fff;
  }
  .downloads__background-pic {
    height:729px;
    background-image:url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;
    width:auto;
    background-position-y:0;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size:1200px auto;
    }
    &::before {
      width:700px;
      height:545px;
      background-image: url("../img/iphone-hand-tablet@1x.png");
      left:50%;
      margin-left: -349px;
      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-hand-tablet@2x.png");
        background-size:700px auto;
      }
    }
  }
  .downloads__inner {
    padding:0;
  }
  .downloads--wrapper {
    min-height: 410px;
    position: absolute;
    bottom:113px;
    left:5px;
    width:50%;
    background-color: transparent;
  }
  .downloads__text {
    font-size:18px;
    line-height: 24px;
    font-weight: 300;
    padding-bottom:0;

  }
}
@media (min-width: @desktop) {
  .downloads__background-pic {
    height:853px;
    background-image:url("../img/bg-back-desktop@1x.jpg");
    width:auto;
    background-position-y:0;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size:2560px auto;
    }
    &::before {
      width:1050px;
      height:645px;
      background-image: url("../img/iphone-hand-desktop@1x.png");
      left:50%;
      margin-left: -449px;
      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png");
        background-size:1050px auto;
      }
    }
  }
  .downloads__title {
    font-size:50px;
    line-height: 58px;
    width:240px;
    padding-bottom:5px;
  }
  .downloads--wrapper {
    min-height: 510px;
    width:300px;
    left:20px;
    bottom:122px;
  }
}
