.gallery__description {
  padding:0;
  margin:0;
  text-align: center;
  position: relative;
  left:50%;
  &--top {
    padding-top:44px;
    width:243px;
    margin-left: -120.5px;
    padding-bottom: 24px;
  }
  &--bottom {
    width:300px;
    margin-left: -150px;
    padding-top: 45px;
  }
}
