.range-field {
  border-bottom:1px solid @grey;
  padding-bottom: 35px;
}
.range-field__bar {
  width:240px;
  height:2px;
  background-color: @dark-blue;
  position: relative;
  right:2px;
  display: block;
  margin:0 auto;
  margin-top:35px;
}
.range-field__toggle {
  margin:0;
  padding:0;
  width:14px;
  height: 14px;
  border:2px solid @pink;
  border-radius: 50%;
  background-color: #f2f2f2;
  position: absolute;
  display: inline-block;
  top:-5px;
  right:13.6%;
}
