.socials {
  width:177px;
  display: flex;
  justify-content: space-between;
}
.social {
  width:45px;
  height:45px;
  border-radius: 50%;
  border:3px solid #e9ebec;
  display: flex;
  align-items: center;
  justify-content: center;
  color:@pink;
  &:hover {
    border-color: @dark-blue;
  }
  &:active {
    border-color:#e9ebec;
    color:#f1becc;
  }
}
